header{
    background-color: rgb(49, 94, 241);
    color: rgb(255, 67, 208); 
    border: 2px solid;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 2px red;
}
body{
    background-image: url(back2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#inf1{
    background-color:mediumpurple;
    color: aqua;
    border: 5px solid;
    margin-left: 10px;
    width: 600px;
}
#div1{
    color: rgb(133, 2, 255);
    border: 10px solid;
    border-radius: 20px;
    width: 1620px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#ClaMon{
    float: left;
    border: 10px solid;
    border-radius: 20px; 
    margin-left: 10px;
    margin-right: 10px;
    height: 259px;
    width: 500px;
    background-color: aquamarine;
    #mquan{
        height: 232px;
        width: 190px;
        float: right;
        margin-right: 10px;
        margin-top: 19px;
    }

}
#ClaSec{
    float: left;
    border: 10px solid;
    border-radius: 20px; 
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    background-color: aquamarine;
    #nphu{
        height: 230px;
        width: 190px;
        float: right;
        margin-right: 10px;
        margin-top: 19px;
    }
}
#UniSec{
    float: left;
    border: 10px solid;
    border-radius: 20px; 
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
    background-color: aquamarine;
    #alinh{
        height: 230px;
        width: 190px;
        float: right;
        margin-right: 10px;
        margin-top: 19px;
    }
}
