body{
    background-image: url(bck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    header{
        animation-name: slideDown;
        animation-duration: 3s;
        background-color: rgb(49, 94, 241);
        color: rgb(255, 67, 208); 
        border: 2px solid;
        border-radius: 20px;
        margin-top: auto;
        font-size: xx-large;
        text-align: center;
        text-shadow: 2px 2px 2px red;
    }
    #inf1{
        animation-name: slideLeft;
        animation-duration: 3s;
        background-color:mediumpurple;
        color: aqua;
        border: 5px solid;
        border-radius: 10px;
        margin-left: 10px;
        width: 700px;
        font-size: x-large;
    }
    #div1{
        overflow: auto;
        animation-name: slideRight;
        animation-duration: 3s;
        color: rgb(133, 2, 255);
        border: 10px solid;
        border-radius: 25px;
        width: 1105px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: x-large;
        #ClaMon{
            animation-name: rotate;
            animation-duration: 5s;
            border: 10px solid;
            border-radius: 20px; 
            margin-left: 15px;
            margin-right: 15px;
            width: 1030px;
            height: 459px;
            font-size: larger;
            background-color: aquamarine;
            #clmon{
                margin-right: 10px;
                margin-top: 5px;
                height: 440px;
                width: 350px;
                float:right;
            }
        }
    }
    #div2{
        animation-name: slideUp;
        animation-duration: 3s;
        text-align: center;
        background-color: rgba(33, 123, 175, 0.932);
        border: 2px solid;
        border-radius: 50px;
        height: 1005px;
        width: 1800px;
        margin-left: auto;
        margin-right: auto;
        font-size: xx-large;
        text-shadow: 2px 2px 2px red;
        #vid1{
            text-align: center;
            border: 5px solid;
            height: 800px;
            width: 1550px;
            border-radius: 200px;
            border-color: rgb(145, 0, 241);
        }
    }
    .dropdown{
        display: inline-block;
    }
    .dropdown button{
        background-color: rgb(54, 144, 228);
        color: rgb(247, 0, 226);
        padding: 10px 15px;
        border: none;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    .dropdown button:hover{
        background-color: aqua;
    }
    .dropdown a{
        display: block;
        color: aqua;
        text-decoration: none;
        padding: 10px 15px;
    }
    .dropdown .content{
        display: none;
        background-color: rgb(54, 144, 228);
        position:absolute;
        border: 4px solid;
        border-radius: 10px;
        border-color: rgb(145, 0, 241);
        box-shadow: 2px 2px 5px rgb(0, 204, 255);
    }
    .dropdown:hover .content{
        display: block;
    }
    .dropdown:hover .button{
        background-color: blue;
    }
    .dropdown a:hover{
        background-color: rgba(7, 73, 255, 0.932);
    }
    .navbar ul{
        animation-name: slideDown;
        animation-duration: 3s;
        list-style: none;
        background-color: rgb(54, 144, 228);
        padding: 10px;
        margin: auto;
        border: 5px solid;
        font-size: x-large;
        border-radius: 20px;
        border-color: rgb(145, 0, 241);
        width: 505px;
        overflow: hidden;
    }
    .navbar a{
        text-align: center;
        text-decoration: none;
        padding: 10px;
        display: block;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(247, 0, 226);
    }
    .navbar a:hover{
        background-color: aqua;
    }
    .navbar li{
        float:left;
    }
}
@keyframes slideLeft{
    from{transform: translateX(5000px);}
}
@keyframes slideRight{
    from{transform: translateX(3000px);}
}
@keyframes slideUp{
    from{transform: translateY(3000px);}
}
@keyframes slideDown{
    from{transform: translateY(-300px);}
}
@keyframes rotate{
    25%{transform: rotateY(180deg);}
}
